<div class="container-show">

  <h2 class="text-center">Edit your list !</h2>

  <%= render "shared/form" %>

  <div>
    <%= link_to "Back", list_path(@list), class:"btn btn-secondary my-3" %>
  </div>
</div>
