.infos-list{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 10px auto;
  padding: 10px;

}

.movie-card{
  height: auto;
  max-width: 200px;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(255, 255, 255, 0.5)), url('https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>') no-repeat center center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.movie-card:hover{
  box-shadow: 0 5px 20px #000000;
  transition: ease 0.1s;
}

.movie-poster{
  height: auto;
  width: auto;
}

.movie-info{
  padding: 10px;
}

.movie-links{
  padding: 10px;
  align-content: center;
  text-align: center;
}
