.title-edit-profile{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.title-new-list{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.title-list{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
